@import '../../../sass/style';

.header {
  margin: 1.5rem 0;

  .header-logo {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  .header-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
}

// .header {
//     width: 100%;
//     .header-content {
//         height: 120px;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//     }
//     .header-nav-list {
//         margin: 0;
//         padding: 0;
//         list-style-type: none;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         .header-item {
//             margin-right: 10px;
//         }
//     }
// }
